# Unity diretories
Library
Logs
Temp
[Uu]ser[Ss]ettings
obj
*.csproj
*.sln
.vsconfig
.vs
*.apk
[Bb]uild/
/[Bb]uilds/
Packages/packages-lock.json
imgui.ini

# Jetbrains cache directory
.idea/
_ReSharper.Caches

# Gradle cache directory
.gradle/

# Mac
.DS_Store

# Hide junk in the attic
**/_[Aa]ttic/**
**/_[Aa]ttic.meta

# Hide build info
Assets/Resources/buildinfo.json
Assets/Resources/buildinfo.json.meta
